@using Microsoft.AspNetCore.Http;
@model dynamic
@{
    ViewData["Title"] = "Cart";
}

<h1 class="text-center mt-5">Cart</h1>
<section class="m-5">
    <div class="m-3 p-2 shadow bg-white rounded">
        <h3 class="text-center">Customer details</h3>
        <hr>
        <h5>Customer Name</h5>
        <p>@Context.Session.GetString("firstname")</p>
        <h5>Customer Adrress</h5>
        <p>@Context.Session.GetString("address")</p>
        <hr>
        @{
            if (Model.CartList.Count != 0)
            {
                <a asp-controller="Customer" asp-action="Checkout" class="btn btn-primary text-center">
                    Checkout
                </a>
            }
        }
    </div>
    <h3 class="text-center m-5">Cart details</h3>
    <hr>
    @{
        if (Model.CartList != null)
        {
            foreach (CartModel cartModel in Model.CartList)
            {
                if (cartModel.CustomerId == Context.Session.GetInt32("customerId"))
                {
                    foreach (ProductModel productModel in Model.ProductList)
                    {
                        if (productModel.Id == cartModel.ProductId)
                        {
                            foreach (VendorModel vendorModel in Model.VendorList)
                            {
                                if (vendorModel.Id == cartModel.VendorId)
                                {
                                    <div class="card m-3" style="min-width: 45vw;">
                                        <div class="card-body row">
                                            <div class="col-md">
                                                <img src="@productModel.Image_Name" class="card-img-top" alt="img" style="width: 10vw; height: 20vh">
                                            </div>
                                            <div class="col-md">
                                                <h5 class="card-title">@productModel.Name : @productModel.Id</h5>
                                                @{
                                                    if (@productModel.Rating <= 1)
                                                    {
                                                        <span class="badge badge-danger mt-2 mb-2"><em>@productModel.Rating  </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>

                                                    }
                                                    else if (@productModel.Rating <= 3)
                                                    {
                                                        <span class="badge badge-warning mt-2  mb-2"><em>@productModel.Rating  </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success mt-2  mb-2"><em>@productModel.Rating  </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>
                                                    }
                                                }
                                                <h5 class="card-text">MRP : @productModel.Price</h5>
                                            </div>
                                            <div class="col-md">
                                                <h5 class="card-title">@vendorModel.Name : @vendorModel.Id</h5>
                                                @{
                                                    if (vendorModel.Rating <= 1)
                                                    {
                                                        <span class="badge badge-danger mb-2"><em>@vendorModel.Rating  </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>
                                                    }
                                                    else if (vendorModel.Rating <= 3)
                                                    {
                                                        <span class="badge badge-warning mb-2"><em>@vendorModel.Rating </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success mb-2"><em>@vendorModel.Rating  </em><img src="https://img.icons8.com/doodle/18/000000/star--v1.png" /></span>
                                                    }
                                                }
                                                <h5 class="card-text">DeliveryCharge : @vendorModel.DeliveryCharge</h5>
                                                <a asp-controller="Customer" asp-action="DeleteCart" asp-route-CartId="@cartModel.CartId" class="btn btn-primary text-center">
                                                    Delete Product
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    <hr>
    @if (Model.CartList.Count != 0)
    {
        <a asp-controller="Customer" asp-action="DeleteAllCart" class="btn btn-primary text-center">
            Delete Cart
        </a>
    }
</section>